PORT=8000
MONGODB_URI=mongodb://localhost:27017
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=kdsjdsjjksdhejkhbvvbhukmcieeufcbceytbkmbvbduhddjdsc
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=DhcjhbnJGbcjcbvksgBTTBVTCcbcudbvydbbCEXGvcdjbc
REFRESH_TOKEN_EXPIRY=15d


CLOUDINARY_CLIENT_NAME=dwyjz24ze
CLOUDINARY_CLIENT_API=425313777393628
CLOUDINARY_CLIENT_SECRRET=Eyf2yOZnXLzs3D2axJYJhj8tmT0


mongodb+srv://arnab:Arnab721304@cluster0.ymppzrr.mongodb.net/
mongodb://localhost:27017